<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Herramientas Disponibles</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gestion/styles.css' %}">
</head>
<body>
    <h1>Herramientas Disponibles</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>N° Serie</th>
            <th>Estado</th>
            <th>Categoría</th>
        </tr>

        {% for herramienta in herramientas %}
        <tr>
            <td>{{ herramienta.nombre }}</td>
            <td>{{ herramienta.marca }}</td>
            <td>{{ herramienta.modelo }}</td>
            <td>{{ herramienta.numero_serie }}</td>
            <td>{{ herramienta.estado }}</td>
            <td>{{ herramienta.id_categoria }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>