{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" href="{% static 'gestion/styles.css' %}">
</head>

<body class="login-body">

    <div class="login-container">

        <!-- LOGO -->
        <div class="logo-box">
            <img src="{% static 'gestion/img/logo AAR.png' %}" alt="Logo AAR Gestión">
        </div>

        <!-- TÍTULOS -->
        <h1>AAR Gestión</h1>

        <h2>
            Sistema de Gestión de Herramientas y Préstamos
        </h2>

        <!-- FORMULARIO -->
        <form method="POST" class="login-form">

            {% csrf_token %}

            <label>Usuario</label>
            <input type="text" name="username" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">
                Ingresar
            </button>

        </form>

        {% if error %}
            <p class="error-login">
                {{ error }}
            </p>
        {% endif %}

    </div>

</body>
</html>