{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Herramienta</title>

    <link rel="stylesheet" href="{% static 'gestion/styles.css' %}">
</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo-box">
            <img src="{% static 'gestion/img/logo AAR.png' %}" alt="Logo AAR Gestión">
        </div>

        <nav class="menu sidebar-menu">

            <a href="{% url 'inicio' %}">
                Dashboard
            </a>

            <a href="{% url 'listar_herramientas' %}">
                Herramientas
            </a>

            <a href="{% url 'herramientas_disponibles' %}">
                Disponibles
            </a>

            <a href="{% url 'listar_prestamos' %}">
                Préstamos
            </a>

            <a href="{% url 'listar_usuarios' %}">
                Usuarios
            </a>

            <a href="{% url 'listar_mantenimientos' %}">
                Mantenciones
            </a>

            <a href="{% url 'alertas_atrasos' %}">
                Alertas
            </a>

            {% if request.user.usuario.id_rol.nombre_rol == 'Administrador' %}

                <div class="menu-title">
                    Gestión
                </div>

                <a href="{% url 'registrar_herramienta' %}" class="active">
                    Registrar herramienta
                </a>

                <a href="{% url 'registrar_usuario' %}">
                    Registrar usuario
                </a>

                <a href="{% url 'registrar_prestamo' %}">
                    Registrar préstamo
                </a>

                <a href="{% url 'registrar_mantenimiento' %}">
                    Registrar mantención
                </a>

            {% endif %}

        </nav>

        <a href="{% url 'logout' %}" class="logout-sidebar">
            Cerrar sesión
        </a>

    </aside>

    <!-- CONTENIDO -->
    <main class="main-content">

        <div class="topbar">
            <div>
                <h1>Registrar Herramienta 🔧</h1>
                <p>Ingreso de nuevas herramientas al sistema</p>
            </div>
        </div>

        <!-- NOTIFICACIONES -->
        {% if messages %}
            {% for message in messages %}
                {% if "Herramienta" in message|stringformat:"s" %}
                    <div class="notificacion">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- FORMULARIO -->
        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Guardar herramienta
            </button>

        </form>

    </main>

</div>

</body>
</html>